<% content_for :title do %>About<% end %>
<h3>Stellar Links</h3>
<p>

<%= link_to('Stellar Homepage', 'http://www.stellar.org') %>
<%= link_to('Stellar Invite announcement', 'https://stellartalk.org/topic/2806-beyond-the-waitlist-introducing-the-invite-system/') %>
<%= link_to('Stellar Value', 'http://stellarvalue.org') %>



</p>
